:root{
    --color1: #FFBE98;
    --color2: #0B8494;
    --color3: #125B9A;
    --color4: #F05A7E;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: var(--color1);
}

button {
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
    background-color: var(--color2);
    color: white;
    border-radius: 10px;
}

#restart, #giveUp, #checkSolution{
    display: none;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.choices select{
    width: 100px;
    height: 50px;
    background-color: var(--color4);
    border-radius: 10px;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    font-size: 15px;
}

#status-label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.board-wrapper {
    display: none;
    margin: 10px 0px 20px 0px;
}

.board-wrapper table {
    border-collapse: separate;
    border-spacing: 0px;
    border-block-end: 3px solid var(--color1);
    border-block-start: 3px solid var(--color1);
    border-inline-start: 3px solid var(--color1);
    border-inline-end: 3px solid var(--color1);
    border-radius: 20px;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid gainsboro;
    text-align: center;
    font-size: 20px;
}

td input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    transition-duration: 200ms;
}

td input:focus {
    border-radius: 0px;
    outline-color: rgb(200, 200, 200);
    transform: scale(1.15);
}

tr:first-child td:first-child {
    border-top-left-radius: 18px;
}

tr:first-child td:last-child {
    border-top-right-radius: 18px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 18px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 18px;
}

tr:first-child td {
    border-top: none;
}

td:first-child {
    border-left: none;
}

tr:last-child td {
    border-bottom: none;
}

td:last-child {
    border-right: none;
}

td:nth-child(3), td:nth-child(6) {
    border-right: 2px solid var(--color1);
}

tr:nth-child(3) td,  tr:nth-child(6) td {
    border-bottom: 2px solid var(--color1)
}

.invalid {
    background-color: #ffcccc;
}

.highlight {
    background-color: aqua;
}

.result-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}